# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\VladimirSoskin\Dropbox\Distr\IntelliJ workspace\2021.01.05 Pavel HTML editor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
